<div id="<%= dom_id palestra %>">
  <p>
    <strong>Titulo:</strong>
    <%= palestra.titulo %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= palestra.data %>
  </p>

  <p>
    <strong>Horario:</strong>
    <%= palestra.horario %>
  </p>

  <p>
    <strong>Local:</strong>
    <%= palestra.local %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= palestra.valor %>
  </p>

</div>
